body{
    background-color: rgb(42, 52, 64)
}

.border{
    width: 100vw;
    margin: 0 auto;
}

@media (min-width: 1920px){
    .border{
        width: 1920px;
    }
}

@media (max-width: 830px){
    .footerWrap{
        display: block!important;
        overflow: hidden;
        height: auto!important;
    }
    .footer{
        padding-top: 0!important;
    }
}


.logoLinks a{
    font-family: "Calibri", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.23;
    color: #fafafa;
}

.logo{
    height: 80px;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 747px;
}

.footer{
    background-image: url(../pictures/footer.png);
    height: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 145px;
    box-sizing: border-box;
    background-position-y: bottom;
    background-position-x: center;
}

.footerWrap{
    height: 201px;
}


.footerWrapColumn{
    height: 100px;
    float: left;
    margin-left: 15px;
}

.columnContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 72px;
}

.footerWrapColumn a{
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2.8px;
    color: #809ec9;
}

.footerWrapHeader a{
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 3.4px;
    color: #ffffff;
}

.storeHeader{
  font-family: "Calibri", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 1.7px;
  text-align: left;
  color: #ffffff;
}

.shopTable{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 167px;
}

.shopTable img{
    width: 190px;
}

.footerLogo img{
    height: 80px;
}

@media (max-width: 1200px){
    .footerLogo{
        display: none;
    }
    .footerWrap{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .shopTable{
        margin-bottom: 40px;
    }
}

.copyFooter{
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2.8px;
    text-align: left;
    color: #7893bc;
    clear: both;
    margin-left: 15px;
}

.navbar-default{
    background: none;
}

.navbar{
    border: none;
}

.account{
    width: 280px;
    height: 51px;
    border-radius: 51px;
    background-color: #873a35;
    box-shadow: 0 0 21px 0 rgba(255, 255, 255, 0.28);
    font-family: "Calibri", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff!important;
    text-shadow: 0 0 20px #000000;
}

.navbar-nav>li>a{
    font-family: "Calibri", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff!important;
    text-shadow: 0 0 20px #000000;
}

.header{
    height: 1011px;
    background-image: url(../pictures/orig.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    position: relative;
}

.header ul{
    margin-top: 21px;
}

.navbar-brand{
    height: auto;
}

.mappoint{
    position: absolute;
    bottom: 134px;
    right: 104px;
}

.point{
    display: block;
    z-index: 2;
    position: absolute;
    left: 99px;
    bottom: 205px;
}

@media (max-width: 1173px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-collapse{
    border: none;
}

.welcomeWindow{
    background-color: rgba(255, 255, 255, 0.69);
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.16);
    float: left;
    margin-left: 64px;
    width: 816px;
}

.inputAddon{
    background-color: #873a35;
    width: 232px;
}

.welcomeButton{
    padding-left: 0;
    padding-right: 0;
    border: none;
    height: 72.2px;
    background-color: #344051;
    border-radius: 0;
    font-family: "Calibri", sans-serif;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 3.3px;
    color: #e9e9e9;
}

.welcomeHeader{
    font-family: "Calibri", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2.3px;
    color: #344051;
}

.input-group-addon{
    color: white;
    text-align: center;
}

.inputWelcome{
    width: 100%;
}

.formWelcome{
    height: 55px;
    font-size: 22px;
}


.formg{
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 12px;
}

.regLink{
    float: right;
    margin-right: 15px;
    position: relative;
    padding-right: 40px;
}

.regLink a{
    font-family: "Calibri", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: #873a35;
}

.regLink:hover a{
    text-decoration: none;
}

.arrow{
    position: absolute;
    width: 23.8px;
    height: 23.8px;
    position: absolute;
    right: 28px;
    top: 7px;
    z-index: 1;
    background-image: url(../pictures/Path.png);
}

.welcomeOr {
    /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
    font-family: "Calibri", sans-serif;
    font-size: 44px;
    font-weight: bold;
    line-height: 1.23;
    letter-spacing: 3.2px;
    text-align: center;
    color: #344051;
    clear: both;
    margin-bottom: 28px;
}

.welcomeOr:before,
.welcomeOr:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #344051;
}
.welcomeOr:before {
    margin-left: -100%;
}
.welcomeOr:after {
    margin-right: -100%;
}

@media (max-width: 930px) {
    .formg{
        margin-right: 0;
        margin-left: 0;
    }
    .welcomeWindow{
        margin: 0 auto;
        float: none;
        width: 80%;
    }
    .inputAddon{
        width: 30%;
    }
}

.regLink:hover .arrow{
    right: -10px;
}


@media (max-width: 600px) {
    .welcomeWindow{
        width: 100%;
    }
}

@media (max-width: 445px) {
    .bigLogo{
        width: 230px;
    }
}

@media (max-width: 1330px) {
    .mappoint{
        display: none;
    }
}

.socialReg {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.socialHeader{
    width: 128px;
    height: 50px;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.4px;
    text-align: right;
    color: #344051;
}

.socialReg a {
    text-decoration: none;
    opacity: 0.38;
    background-color: #344051;
    line-height: 80px;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
}

.socialReg a:nth-of-type(n + 3) {
    order: 1;
}

.socialReg i {
    color: #fff;
}

.socialReg i:hover {
    color: #abeafa;
}

.socialRegInside{
    display: flex;
    width: 66%;
    justify-content: space-around;
}

@media (max-width: 400px){
    .socialRegInside{
        width: 100%;
    }
    .socialHeader{
        width: 100%;
        text-align: center;
    }
}

.welcomeCheck{
    clear: both;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2.8px;
    text-align: left;
    color: #333f50;
    padding-left: 43px;
}

.welcomeCheck a{
    color: #ae5a57;
    display: block;
    padding-left: 21px;
}

.mainInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    height: 975px;
}

.mainInfo > div{
    width: 507.2px;
    height: 507.2px;
    border-radius: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.mainInfo > div:nth-child(1)::before{
    content: '';
    background-image: url(../pictures/31.png);
    position: absolute;
    top: -86px;
    left: -89px;
    height: 300px;
    width: 290px;
}

.mainInfo > div:nth-child(2)::before{
    content: '';
    background-image: url(../pictures/53.png);
    position: absolute;
    top: 372px;
    left: 437px;
    height: 275px;
    width: 142px;
}

.mainInfo > div:nth-child(3)::before{
    content: '';
    background-image: url(../pictures/47.png);
    position: absolute;
    top: -69px;
    left: 311px;
    height: 249px;
    width: 268px;
}

@media (max-width: 1920px){
    .mainInfo > div::before{
        display: none;
    }
}

.mainInfoHeader{
    font-family: "Calibri", sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.21;
    color: #344051;
}

.mainInfoContent{
    width: 412px;
    font-family: "Calibri", sans-serif;
    font-size: 33px;
    font-weight: bold;
    line-height: 1.21;
    color: #344051;
}

.mainInfo a{
    font-family: "Calibri", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2.3px;
    color: #873a35;
}

.mainINfoLink{
    position: relative;
}

.mainINfoLink .arrow{
    right: -15px;
    top: 10px;
}

.mainINfoLink:hover .arrow{
    right: -30px;
}

@media (max-width:1560px){
    .mainInfo{
        flex-wrap: wrap;
        height: unset;
    }
}

@media (max-width:500px){
    .mainInfo > div{
        width: 100%;
        height: unset;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px #707070;
        border-bottom: solid 1px #707070;
        border-radius: 0;
    }
    .mainInfoContent{
        width: 100%;
        font-size: 33px;
        font-weight: bold;
        line-height: 1;
        color: #344051;
    }
}

.info2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: #343841;
    border: solid 1px #707070;
    flex-wrap: wrap;
    font-family: "Calibri", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 2.3px;
    text-align: center;
    color: #fffefd;
}

@media (max-width: 1234px){
    .info2{
        height: unset;
    }
}

.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
}

@media (max-width: 640px){
    .partners img{
        max-width: 100%;
    }
}